<div class="player-item" touch-action="manipulate" data-player-uuid="{{{uuid}}}">
    <div class="grid-g">
        <div class="grid-col-12-12">
            <img src="{{{ bild }}}" alt="">
        </div>
    </div>
</div>