{{#mixin "commons/content" this}}
  {{#content "main"}}

    <div class="grid-wrapper">
      <div class="grid-g">
        <div class="grid-col-12-12">
          <h2>grid-wrapper</h2>
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>
        <div class="grid-col-12-12 grid-col-xs-6-12">
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>
        <div class="grid-col-12-12 grid-col-xs-6-12">
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>

        <div class="grid-col-12-12 grid-col-xs-6-12 grid-col-md-4-12">
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>
        <div class="grid-col-12-12 grid-col-xs-6-12 grid-col-md-4-12">
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>
        <div class="grid-col-12-12 grid-col-xs-6-12 grid-col-md-4-12">
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>
        <div class="grid-col-8-12 grid-col-offset-2-12 grid-col-xs-6-12 grid-col-xs-offset-0-12 grid-col-md-4-12 grid-col-md-offset-4-12">
          <p>
            Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
            etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
          </p>
        </div>
      </div>
    </div>


    <div class="grid-wrapper-offset-wrap">

      <div class="grid-wrapper-fluid">
        <h2>grid-wrapper-fluid with grid-wrapper-offset-wrap</h2>
        <div class="grid-g">
          <div class="grid-col-12-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>
          <div class="grid-col-12-12 grid-col-xs-6-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>
          <div class="grid-col-12-12 grid-col-xs-6-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>


          <div class="grid-col-12-12 grid-col-xs-6-12 grid-col-md-4-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>
          <div class="grid-col-12-12 grid-col-xs-6-12 grid-col-md-4-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>
          <div class="grid-col-12-12 grid-col-xs-6-12 grid-col-md-4-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>
          <div class="grid-col-8-12 grid-col-offset-2-12 grid-col-xs-6-12 grid-col-xs-offset-0-12 grid-col-md-4-12 grid-col-md-offset-4-12">
            <p>
              Neque nihil habitasse cursus, officiis venenatis deleniti primis ipsum nemo condimentum impedit nonummy, cumque ea, deserunt elementum. Odio. Corporis ducimus nibh primis natoque repudiandae, interdum dolores auctor exercitation? Eros phasellus! Impedit
              etiam. Illum! Etiam aute facere cubilia mus, doloremque wisi.
            </p>
          </div>
          <div class="grid-col-8-12 grid-col-offset-2-12 grid-hidden grid-xs-visible">
            <p style="text-align: center;">
              Visible / Hidden Test
            </p>
          </div>
        </div>
      </div>

    </div>

  {{/content}}
{{/mixin}}
