.partial[data-partial="components/header"] {
  position: fixed;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
  z-index: 9999;
  backface-visibility: hidden;

  transform: translateY(-100%);


  &.js-slideDown {
    transform: translateY(0%);
  }

  ul {
    list-style-type: none;

    li {
      display: inline-block;
    }
  }
}
