---
picture:
  svg:
    mask: '#masking'
---
<figure class="partial controller" data-partial="components/mask-top-bottom" data-controller="./partials/components/ScrollMask" data-extended-range="true">
  <article>
    {{{mixin "elements/picture" picture}}}
    <header class="header"></header>
    <footer class="footer"></footer>
  </article>
  <figcaption>
    <h3>Headline</h3><br/>
    <p>
      Das ist eine description die etwas länger wird und nicht mehr weiss wo hin. wandert sie nach oben raus? es sieht fast schon so aus
    </p>
  </figcaption>
  <span class="lightbulb"></span>
</figure>
