---

---
<div class="partial controller" data-partial="components/moveable-point-light" data-controller="./partials/components/MoveablePointLight">
  {{#mixin "components/mask-top-bottom"}}
    {{#content "content"}}
      {{{mixin "elements/picture"}}}
      <div class="mask" touch-action="none">
          <div class="point-light"></div>
      </div>
    {{/content}}
  {{/mixin}}
</div>
