---
handle:
  title: ''
---
<div class="partial controller" data-partial="components/rotateable-point" data-controller="./partials/components/RotateablePoint" touch-action="none">
  {{{mixin "elements/link" handle class="handle"}}}
</div>
