---
handle:
  title: ''
---
<div class="partial controller" data-partial="fragments/rotateable-point" data-controller="./partials/fragments/RotateablePoint" data-angle="45" touch-action="none">
  {{{mixin "elements/link" handle class="handle"}}}
</div>
