---
message: "Please activate javascript otherwise this page won't work."
---
<noscript class="partial" data-partial="commons/noscript">
    <section>
        {{{message}}}
    </section>
</noscript>
