---

---
{{#mixin "commons/content" this}}
  {{#content "main"}}
    {{#with body}}

    <div class="grid-wrapper-fluid">

      {{{mixin "components/dashboard/dashboard" dashboard}}}

    </div>



    {{/with}}
  {{/content}}
{{/mixin}}
