@import "purecss/build/base.css";
@import "../../generated/pcss/custom-grid.css";
@import "../../generated/pcss/custom-media-variables.pcss";

img[data-preload] {
  display: none;
}

@import "./partials/common.pcss";
@import "./partials/elements/picture.pcss";
