@import "../../generated/pcss/purecss/custom-media-variables.pcss";


@import "./partials.pcss";
@import "./partials/common/touch-accessibility.pcss";

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}
