@import "../../generated/pcss/grid/media-variables.pcss";
@import "./base/colors.pcss";
@import "./base/mixins.pcss";
@import "./services.pcss";
@import "./partials.pcss";

/* defaults */

.disable-hover, .disable-hover * {
  pointer-events: none !important;
}
