---
columns: [1,2,3,4,5,6,7,8,9,10,11,12]
---
{{!-- template loaded by controller --}}
<div class="partial controller" data-partial="services/debug/grid" data-controller="./partials/services/debug/Grid" style="z-index: 100000000;">
  <div class="grid-wrapper">
    <div class="grid-g" data-hook="columns">
      {{{mixin "services/debug/grid/columns" columns}}}
    </div>
  </div>
</div>
